:root {
	--home-page-box-width: 700px;
	--home-page-box-height: 350px;
}

body {
	overflow: hidden;
}

.home-page {
	width: 100vw;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.home-page-box {
	animation: var(--transition-duration-2) ease-out 0.1s 1 fadeIn;
	animation-fill-mode: both;

	background-image: linear-gradient(45deg, var(--dark-purple), var(--light-blue));
	border-radius: var(--border-radius-2);
	width: var(--home-page-box-width);
	height: var(--home-page-box-height);
	padding: var(--padding);
	margin: auto;
	text-align: center;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.home-page-headers {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: var(--text-color);
}

.material-icons.social-media {
	color: var(--icon-color-light);
	font-size: var(--font-size-1);
}

.social-media-icon {
	color: var(--icon-color-light);
	fill: var(--icon-color-light);
	height: var(--social-media-icon-size);
	width: var(--social-media-icon-size);
	object-fit: cover;
	object-position: 0;
}

.particle {
	background-color: var(--icon-color-light);
	border-radius: 100%;
	position: absolute;
}

@media only screen and (max-width: 650px) {
	.home-page-box {
		border-radius: 0px;
		width: 100%;
		height: auto;
	}

	.home-page-buttons-row {
		flex-direction: column;
		gap: var(--margin);
		width: 100%;
	}
	
	.home-page-buttons {
		width: 100%;
		gap: var(--margin);
	}
}