.projects-page {
	background-image: linear-gradient(45deg, var(--dark-purple), var(--light-blue));
	background-size: cover;
	/* https://stackoverflow.com/a/19758117 */
	min-height: 100%;
	min-width: 100%;
}

.projects-header {
	animation: 0.5s ease-out 0.1s 1 fadeIn;
	animation-fill-mode: both;
	
	/* height: 15vh; */
	background-image: linear-gradient(45deg, var(--light-blue), var(--text-color));

	padding: 10px 0px;

	display: flex;
	align-items: center;
	flex-direction: column;
	color: var(--dark-purple);

	z-index: 1;
	position: relative;
}

.home-page-buttons {
	margin: 5px;
}

.home-page-button {
	background-color: var(--dark-purple);
	color: var(--text-color);
	padding: 10px;
}

.projects-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;

	padding: 30px 0px;
}

/* https://css-tricks.com/different-approaches-for-creating-a-staggered-animation/ */
.projects-item {
	animation: 0.5s ease-out calc(0.2s + (0.15s * var(--animation-order))) 1 fadeIn;
	animation-fill-mode: both;

	display: flex;
	gap: 30px;
	padding: 30px;
	background-image: linear-gradient(45deg, var(--light-blue), var(--text-color));
	border-radius: 20px;
	width: 80vw;
	min-height: 360px;
	justify-content: center;
}

.projects-video {
	width: 640px;
	min-width: 640px;
	height: 100%;
	border: 0;
}

.divider {
	border: 2px solid var(--dark-purple);
	border-radius: 5px;
	margin: 0;
}

.projects-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 42%;
}

h1 {
	color: var(--dark-purple);
}

.text-bold {
	font-weight: bold;
	color: var(--dark-purple);
	font-size: 1.5rem;
}

.game-link {
	font-weight: bold;
	color: var(--dark-purple);
	font-size: 1.5rem;
	transition: color 0.25s;
}

.game-link:hover {
	color: var(--light-blue);
}

.text-normal {
	color: var(--dark-purple);
	font-size: 1.25rem;
}

.material-icons.social-media {
	color: var(--icon-color-dark);
	font-size: 36px;
}

.social-media-icon {
	color: var(--icon-color-dark);
	fill: var(--icon-color-dark);
	height: 32px;
	width: 32px;
	object-fit: cover;
	object-position: 0;
}

.language-selector-container {
	align-self: auto;
}

#language-selector {
	background-color: var(--dark-purple);
	
}

.language-selector-container:hover #language-selector {
	background-color: var(--light-blue);
}

.language-dropdown-button:hover {
	background-color: var(--light-blue);
}

#projects-move-to-top-button {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-purple);
	opacity: 50%;
	transition: opacity 0.5s;
	visibility: hidden;
}

#projects-move-to-top-button:hover {
	opacity: 100%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/easing-function/cubic-bezier#bouncing_effect */
/* https://developer.mozilla.org/en-US/docs/Web/API/Element/animationend_event */
#projects-move-to-top-button.popInAnimation {
	animation: popIn 0.25s cubic-bezier(0.3, 0.8, 0.3, 2) 0s 1 normal;
}

#projects-move-to-top-button.popOutAnimation {
	animation: popIn 0.25s cubic-bezier(0.3, 0.8, 0.3, 2) 0s 1 reverse;
}

/* https://stackoverflow.com/a/12638711 */
@keyframes popIn {
  0% {
	transform: scale(0);
  }
  100% {
	transform: scale(1);
  }
}

@media only screen and (max-width: 900px) {
	.projects-item {
		flex-direction: column;
		width: 100vw;
		min-height: 270px;
		height: auto;
		border-radius: 0px;
		align-items: center;
	}

	.projects-video {
		width: 480px;
		min-width: 480px;
		min-height: 270px;
	}

	.divider {
		width: 90%;
	}

	.projects-info {
		width: 90%;
		text-align: center;
	}

	#projects-move-to-top-button {
		transform: scale(0.5);
		bottom: 5px;
		right: 5px;
	}
}

@media only screen and (min-width: 900px) {
	.projects-item {
		flex-direction: row;
		width: 100vw;
		min-height: 270px;
		border-radius: 0px;
		align-items: normal;
	}

	.projects-video {
		width: 480px;
		min-width: 480px;
		min-height: auto;
	}

	.divider {
		width: auto;
	}

	.projects-info {
		width: 42%;
		text-align: left;
	}

	#projects-move-to-top-button {
		transform: scale(0.75);
		bottom: 10px;
		right: 10px;
	}
}

@media only screen and (min-width: 1200px) {
	.projects-item {
		flex-direction: row;
		width: 80vw;
		min-height: 360px;
		border-radius: 20px;
		align-items: normal;
	}

	.projects-video {
		width: 640px;
		min-width: 640px;
		min-height: auto;
	}

	.divider {
		width: auto;
	}

	.projects-info {
		width: 42%;
		text-align: left;
	}

	#projects-move-to-top-button {
		transform: scale(1);
		bottom: 15px;
		right: 15px;
	}
}